<h1>Informações do Grupo</h1>

<hr>
<h2>Integrantes:</h2>
<br>

<h3>Diego Oliveira</h3>
<p>
    <a href="https://www.linkedin.com/in/diego-oliveiras-37a66016a">LinkedIn</a>
</p>

<h3>Isabelle Maria Silva Cinto</h3> 
<p>
    <a href="https://www.linkedin.com/mwlite/in/isabelle-cinto-3421691a4">LinkedIn</a>
</p>

<h3>Vitor Henrique Percincula Pinheiro</h3>
<p>
    <a href="https://www.linkedin.com/in/vitor-henrique-percincula-pinheiro-aa447318b/">LinkedIn</a>
    <br>
    <a href="https://henriquepercincula.000webhostapp.com/">Portfólio</a>
</p>
